DB_HOST=
DB_NAME=
DB_USER=
DB_PASS=
ALLOWED_ORIGINS=
ALLOWED_METHODS=GET,POST,PUT,DELETE,OPTIONS
ALLOWED_HEADERS=Retry-After
JWT_SECRET=
MAILGUN_USER=api
MAILGUN_API_KEY=
MAILGUN_SENDER_DOMAIN=
MAILGUN_SENDER_FROM=
MAILGUN_API_URL=http://api.eu.mailgun.net/v3/
FRONTEND_URL=http://localhost
APP_URL=http://localhost/
API_URL=http://localhost/api
UPLOADS_URL=http://localhost/uploads
PHOTOS_PER_PAGE=6